 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     background-color:var(--white);
 }

 :root {
     --white: white;
     --blue: blue;
 }

 #logo {
     color: rgb(35, 34, 34);
     font-size: 2rem;
     padding-left: 5%;
 }

 span {
     color: var(--blue);
 }

 nav {
     display: flex;
     align-items: center;
     justify-content: space-between;

 }

 nav ul li {
     list-style-type: none;
     display: inline-block;
     padding: 10px 20px;
 }

 nav ul li a {
     color: rgb(37, 36, 36);
     text-decoration: none;
     font-size: 2rem;
 }

 nav ul li a:hover {
     color: var(--blue);
     transition: .3s;
     text-decoration: underline;
 }

 nav li a {
     color: rgb(33, 32, 32);
     text-decoration: none;
     padding-right: 6px;
 }

 .btn {
     margin-top: 1rem;
     display: inline-block;
     padding: 2px 1rem;
     font-size: 1.8rem;
     border-radius: .5rem;
     cursor: pointer;
     background: none;
     border: 1px solid var(--white);
     margin-right: 26px;
 }

 .btn:hover {
     color:var(--blue);
     transition: .3s;
     text-decoration: underline;
 }

 .hero-text {
     margin: 0 3rem;
     padding-bottom: 2rem;
 }

 .left-div {
     font-size: 4.5rem;
     margin-bottom: 0rem;

 }

 .viewport {
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 img {
     background-color: var(--white);
     width: 46rem;
     height: 40rem;
     margin-top: 2px;
 }

 p {
     font-size: 22px;
 }

 .btn-demo {
     margin-top: 1rem;
     display: inline-block;
     padding: .8rem 3rem;
     font-size: 1.5rem;
     border-radius: .5rem;
     color: var(--white);
     cursor: pointer;
     background: var(--blue);
     border: 2px solid black imp !;
 }

 .btn-demo:hover {
     color: var(--blue);
     transition: .3s;
     text-decoration: underline;
     background-color:var(--white);
     border: 2px solid var(--white);
 }